// Fuentes
$fuenteTitulo: "Sora", sans-serif;
$fuenteSubtitulo: "League Spartan", sans-serif;
$fuenteTexto: "Barlow Semi Condensed" , sans-serif;


// Colores
$negro: #000000;
$azul: #4B89AC;
$azulClaro: #E4FCF9;
$blanco: #FFFFFF;
$blanco-roto: #f8f8f5;  /* Blanco roto o marfil */
$gris-perla: #d9d9d6;   /* Gris suave */
$gris-cemento: #bfbfbf; /* Gris cemento */
$gris-antracita: #2e2e2e;
$beige: #e3dac9;        /* Beige o arena */
$negro-carbon: #333333; /* Negro o carbón */
$madera-clara: #d4b499; /* Tonos madera clara */
$verde-oliva: #8a9977;  /* Verde oliva apagado */
$verde-musgo: #6b7753;  /* Verde musgo */
$ocre: #cfa15b; 
$rojo: #ff0000;