@use 'base/variables' as v;

/* Errores */

.error {
    color: v.$blanco;
    text-align: center;
    margin: 0 auto;

    & p {
        background-color: v.$rojo;
        padding: .5rem;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700;
        border-radius: 1rem;
    }
}

/* Exito */
.exito {
    background-color: v.$azul;
    color: v.$blanco;
    padding: 1rem;
    text-align: center;
    max-width: 60%;
    border-radius: 1rem;
    margin: 2rem auto;
}